@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="test-hud">
		<label class="test-label">RAZOR HUD IS WORKING</label>
	</div>
</root>

@code
{
	protected override int BuildHash() => 0;
}
